
    {%  extends 'productos/main.html' %}
    {% load static %}

    {% block content %}
    
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'productos/img/lentes.png' %}" alt="imagen del Lente 1">
      <div class="card-body">
        <h5 class="card-title">RAY BAN CLUBMASTER METAL 3716 2904</h5>
        <p class="card-text">Lentes de policarbonato, origen España</p>
        
        <a href="#" class="btn btn-primary stretched-link">COMPRAR</a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Color de la montura: Negro</li>
        <li class="list-group-item">Material: Metal</li>
        <li class="list-group-item">Ajuste:  Estándar</li>
        <li class="list-group-item">Calibre: 50 - 22 - 145 mm</li>
        <li class="list-group-item">Código del producto: RB 3716 2904</li>
      </ul>
    </div>
    {% endblock %}
